# Do not run all cells , only run when new data is added and only run that cell to append

In [1]:
import pandas as pd

In [2]:
data7 = pd.read_csv("D:\\KerbalSpaceProgram\\English\\GameData\\DataExport\\graphs\\13@85#F.csv")
print("DATA1 imported")

training = pd.read_csv("training.csv")
print("Training imported")

DATA1 imported
Training imported

In [3]:
training

,Time,Velocity,GForce,Acceleration,TWR,Mass,AltitudeFromTerrain,DownrangeDistance,Apoapsis,Inclination,OrbitalVelocity,VesselDeltaV,Pressure,Classifier
0,1,24,5.09,40.20,5.13,58.34,102.11,0.00,120,0.10,177,1992,99.97,1.0
1,2,64,5.25,41.74,5.29,56.94,145.38,0.00,345,0.10,186,1939,99.34,1.0
2,3,107,5.34,42.71,5.44,55.48,232.97,0.00,812,0.10,209,1886,98.06,1.0
3,4,148,5.47,44.76,5.58,54.07,357.53,0.02,1458,0.11,245,1844,96.26,1.0
4,5,191,5.64,47.65,5.76,52.61,526.67,0.05,2281,0.13,291,1790,93.85,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8080,2705,2007,2.72,26.37,0.00,22.30,3291.92,1054.88,29209,0.43,2181,0,60.66,NaN
8081,2706,1982,2.72,26.42,0.00,22.30,2972.68,1052.96,26517,0.43,2156,0,63.89,NaN
8082,2707,1956,2.77,26.82,0.00,22.30,2643.49,1050.99,24054,0.43,2130,0,67.36,NaN
8083,2708,1931,2.83,27.36,0.00,22.30,2330.08,1049.12,21976,0.43,2104,0,70.81,NaN
8084,2709,1905,2.79,26.96,0.00,22.30,2006.79,1047.20,20057,0.43,2078,0,74.52,NaN

# add the new data in place of data5 in the below code, remove the comment # and run it.

In [19]:
training = training.drop(["Unnamed: 0","Unnamed: 0.1","Unnamed: 0.2","Unnamed: 0.3","Unnamed: 0.4","Unnamed: 0.5","Unnamed: 0.6","Unnamed: 13"],axis=1)

In [30]:
training = training.drop("Z-Score",axis=1)

In [13]:
training = training._append(data7)

In [31]:
training.to_csv("training.csv",index_label=False)

In [32]:
training

,Time,Velocity,GForce,Acceleration,TWR,Mass,AltitudeFromTerrain,DownrangeDistance,Apoapsis,Inclination,OrbitalVelocity,VesselDeltaV,Pressure,Classifier
0,1,24,5.09,40.20,5.13,58.34,102.11,0.00,120,0.10,177,1992,99.97,1.0
1,2,64,5.25,41.74,5.29,56.94,145.38,0.00,345,0.10,186,1939,99.34,1.0
2,3,107,5.34,42.71,5.44,55.48,232.97,0.00,812,0.10,209,1886,98.06,1.0
3,4,148,5.47,44.76,5.58,54.07,357.53,0.02,1458,0.11,245,1844,96.26,1.0
4,5,191,5.64,47.65,5.76,52.61,526.67,0.05,2281,0.13,291,1790,93.85,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8080,2705,2007,2.72,26.37,0.00,22.30,3291.92,1054.88,29209,0.43,2181,0,60.66,NaN
8081,2706,1982,2.72,26.42,0.00,22.30,2972.68,1052.96,26517,0.43,2156,0,63.89,NaN
8082,2707,1956,2.77,26.82,0.00,22.30,2643.49,1050.99,24054,0.43,2130,0,67.36,NaN
8083,2708,1931,2.83,27.36,0.00,22.30,2330.08,1049.12,21976,0.43,2104,0,70.81,NaN
8084,2709,1905,2.79,26.96,0.00,22.30,2006.79,1047.20,20057,0.43,2078,0,74.52,NaN