In [1]:
import pandas as pd
from scipy import stats

In [2]:
data = pd.read_csv("training.csv")

In [11]:
data = pd.read_csv("D:\\KerbalSpaceProgram\\English\\GameData\\DataExport\\graphs\\12@50.csv")

In [12]:
data.head()

,Time,Velocity,GForce,Acceleration,TWR,Mass,AltitudeFromTerrain,DownrangeDistance,Apoapsis,Inclination,OrbitalVelocity,VesselDeltaV,Pressure,Unnamed: 13
0,1,24,5.11,40.31,5.14,58.31,102.66,0.0,122,0.1,177,1989,99.96,NaN
1,2,64,5.26,41.80,5.29,56.94,145.45,0.0,346,0.1,186,1936,99.34,NaN
2,3,109,5.38,43.01,5.42,55.45,235.58,0.0,829,0.1,206,1893,98.03,NaN
3,4,151,5.50,44.16,5.59,54.07,360.26,0.0,1515,0.1,231,1840,96.23,NaN
4,5,197,5.63,45.48,5.77,52.58,541.58,0.0,2538,0.1,264,1787,93.66,NaN

In [13]:
data = data.apply(stats.zscore)

In [14]:
data.describe()

,Time,Velocity,GForce,Acceleration,TWR,Mass,AltitudeFromTerrain,DownrangeDistance,Apoapsis,Inclination,OrbitalVelocity,VesselDeltaV,Pressure,Unnamed: 13
count,384.000000,3.840000e+02,3.840000e+02,3.840000e+02,3.840000e+02,3.840000e+02,3.840000e+02,3.840000e+02,3.840000e+02,3.840000e+02,3.840000e+02,3.840000e+02,3.840000e+02,0.0
mean,0.000000,2.960595e-16,7.401487e-17,-3.700743e-17,1.850372e-17,-1.295260e-15,2.590520e-16,2.220446e-16,-1.850372e-17,-1.646831e-15,-2.960595e-16,3.700743e-17,9.251859e-18,NaN
std,1.001305,1.001305e+00,1.001305e+00,1.001305e+00,1.001305e+00,1.001305e+00,1.001305e+00,1.001305e+00,1.001305e+00,1.001305e+00,1.001305e+00,1.001305e+00,1.001305e+00,NaN
min,-1.727546,-5.143654e+00,-2.849837e-01,-2.878561e-01,-2.556885e-01,-2.297755e-01,-2.043526e+00,-1.641849e+00,-4.644391e+00,-5.932261e+00,-5.071399e+00,-2.414978e-01,-3.244051e-01,NaN
25%,-0.863773,-3.567998e-01,-2.849837e-01,-2.810876e-01,-2.556885e-01,-2.297755e-01,-7.775363e-01,-8.401646e-01,2.796694e-01,2.039517e-01,-2.678669e-01,-2.414978e-01,-3.244051e-01,NaN
50%,0.000000,-8.276994e-03,-2.849837e-01,-2.613462e-01,-2.556885e-01,-2.297755e-01,2.829491e-01,1.288607e-03,2.808619e-01,2.039517e-01,2.915739e-02,-2.414978e-01,-3.244051e-01,NaN
75%,0.863773,6.013839e-01,-2.802441e-01,-2.262346e-01,-2.556885e-01,-2.297755e-01,9.102901e-01,8.347223e-01,2.812742e-01,2.039517e-01,5.553428e-01,-2.414978e-01,-3.126940e-01,NaN
max,1.727546,1.432555e+00,6.341046e+00,6.769984e+00,6.272139e+00,6.506500e+00,1.119878e+00,1.792973e+00,5.167775e-01,2.039517e-01,1.293969e+00,5.696252e+00,4.936914e+00,NaN

In [15]:
data.head()

,Time,Velocity,GForce,Acceleration,TWR,Mass,AltitudeFromTerrain,DownrangeDistance,Apoapsis,Inclination,OrbitalVelocity,VesselDeltaV,Pressure,Unnamed: 13
0,-1.727546,-5.143654,2.136977,1.582503,2.031498,6.506500,-2.043526,-1.641849,-4.644391,-5.932261,-5.071399,5.696252,4.936914,NaN
1,-1.718525,-4.981078,2.208072,1.666545,2.098245,6.250219,-2.041908,-1.641849,-4.631199,-5.932261,-5.035992,5.538031,4.904280,NaN
2,-1.709504,-4.798179,2.264947,1.734794,2.156092,5.971489,-2.038500,-1.641849,-4.602755,-5.932261,-4.957310,5.409664,4.835330,NaN
3,-1.700483,-4.627474,2.321823,1.799658,2.231738,5.713337,-2.033785,-1.641849,-4.562356,-5.932261,-4.858958,5.251443,4.740588,NaN
4,-1.691462,-4.440512,2.383439,1.874112,2.311834,5.434607,-2.026929,-1.641849,-4.502111,-5.932261,-4.729133,5.093222,4.605318,NaN

In [16]:
data.to_csv("12@50_zscore.csv",index_label= False)